/**
  * File: global-styles.css
  * Desc: app-level styles (and fonts)
  */

@font-face {
  font-family: "Goldman";
  src: url("../assets/fonts/Goldman/Goldman-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: bold;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Goldman", sans-serif;
}

.charts-header {
  align-items: center;
  background-color: rgb(160, 160, 160);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}

.charts-header > h1 {
  margin: 10px 20px;
  padding: 0;
}
